body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: rgb(0, 0, 0);
    font-size: 25px;
}
body{
    background-color: rgb(196, 196, 202);
}
p{
    color: green;
    font-weight: bold;
}